[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=6.1"
djangorestframework = "*"
django-cors-headers = "*"
django-environ = "*"
djoser = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
ruff = "*"
pytest-django = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
